# {{ ansible_managed }}

auto lo {{stor_if}} br0

iface lo inet loopback

{% for member in cluster_members %}
{% if member.name == inventory_hostname %}
iface {{stor_if}} inet static
  address {{member.stor_addr}}
  netmask {{stor_netmask}}
  mtu {{stor_mtu|default(1500)}}

iface br0 inet static
  address {{member.prod_addr}}
  netmask {{prod_netmask}}
  gateway {{default_gateway}}
  bridge_ports {{prod_if}}
  bridge_stp off
  bridge_fd 0
{% endif %}
{% endfor %}

## example for VLAN configuration, assuming {{prod_if}} is a trunk port
## VLAN123
# auto br123
# iface br123 inet manual
#  bridge_ports {{prod_if}}.123

# {{ ansible_managed }}
