# {{ ansible_managed }}

auto lo

iface lo inet loopback

{% for member in cluster_members %}
{% if member.name == inventory_hostname %}
auto {{ stor_if }}
iface {{stor_if}} inet static
  address {{member.stor_addr}}
  netmask {{stor_netmask}}
  mtu {{stor_mtu|default(1500)}}

{# the {{ '' }} is to force a newline #}
auto br{% if prod_vlan %}{{prod_vlan}}{% else %}0{% endif %}{{ '' }}
iface br{% if prod_vlan %}{{prod_vlan}}{% else %}0{% endif %} inet static
  address {{member.prod_addr}}
  netmask {{prod_netmask}}
  gateway {{default_gateway}}
  bridge_ports {{prod_if}}{% if prod_vlan %}.{{prod_vlan}}{% endif %}{{ '' }}
  bridge_stp off
  bridge_fd 0

{% for tag in vlan_tags %}
auto br{{tag}}
iface br{{tag}} inet manual
  bridge_ports {{prod_if}}.{{tag}}

{% endfor %}
{% endif %}
{% endfor %}

## example for VLAN configuration, assuming {{prod_if}} is a trunk port
## VLAN123
# auto br123
# iface br123 inet manual
#  bridge_ports {{prod_if}}.123

# {{ ansible_managed }}
