# config file for kissclusterd

# IP addresses of both nodes (separated by whitespace)
stor_addrs = {% for member in cluster_members %}{{member.stor_addr}} {% endfor %}
prod_addrs = {% for member in cluster_members %}{{member.prod_addr}} {% endfor %}
# IP address of switch, or whatever the third player is.
# needs to respond to ICMP pings
ping_addr = {{ping_addr}}
ping_timeout = 1

# which UDP port to use for the keepalive protocol
keepalive_port = 5324
# secret for the network protocol
keepalive_secret = "{{lookup('password', 'vm-config/' + clustername + '.secret' length=16) }}"

# priorities for the keepalive protocol
base_priority = 100
priority_penalty = 10

# timing, in seconds
# how often to send keepalives (and pings):
keepalive_interval = 10
# after this time with no keepalives the peer is considered dead:
keepalive_deadtime = 30

# logging, default is LOG_DAEMON
# use whatever Sys::Syslog allows on your system
syslog_facility = LOG_DAEMON

# some system dependencies; full path, please!
iproute = /sbin/ip
fping = /usr/bin/fping
