# {{ ansible_managed }}

[Unit]
Description= KISS cluster manager daemon
Requires=network-online.target
Wants=drbd.service
After=drbd.service network-online.target
StopWhenUnneeded=false

[Service]
ExecStart=/usr/sbin/kissclusterd -c /etc/kissclusterd.conf
Restart=always
User=kissclusterd
Group=kissclusterd

[Install]
WantedBy=multi-user.target


# {{ ansible_managed }}
