# {{ ansible_managed }}

[Unit]
Description= Run the primary VM images locally
Requires=multi-user.target
After=multi-user.target
Conflicts=all-vms.target no-vms.target

[Install]

# {{ ansible_managed }}
