# {{ ansible_managed }}
# Configuration for vm@.service for VM {{ item.name }}
SMP={{item.cpus}}
RAM={{ item.ram_megs }}
BRIDGE={{item.network_bridge}}
MACADDR={{mac_addr_base}}:{{"%x" | format(item.drbd_minor)}}
VNCDISPLAY={{item.drbd_minor}}
KEYBOARDLANG={{vnc_keyboard_lang}}
RTC=utc
DRIVES=-device virtio-blk-pci,scsi=off,drive=drive0 \
  -drive file=/dev/drbd/by-res/{{item.name}}/0,id=drive0,if=none,aio=native,discard=on \
{% for disk in item.more_disks %}
  -device virtion-blk-pci,scsi=off,drive=drive{{disk.drbd_volume}} \
  -drive file=/dev/drbd/by-res/{{item.name}}/{{disk.drbd_volume}},id=drive{{disk.drbd_volume}},if=none,aio=native,discard=on \
{% endfor %}
{# add another CDROM for windows virtio installation #}
  -drive index=0,media=cdrom 
# {{ ansible_managed }}
