# {{ ansible_managed }}
# Configuration for vm@.service for VM {{ item.name }}
SMP={{item.cpus}}
RAM={{ item.ram_megs }}
BRIDGE={{item.network_bridge}}
MACADDR={{mac_addr_base}}:{{"%x" | format(item.drbd_minor)}}
VNCDISPLAY={{item.drbd_minor}}
KEYBOARDLANG={{vnc_keyboard_lang}}
RTC=localtime
DRIVES=-device virtio-scsi-pci,id=scsi -device scsi-hd,drive=sda \
  -drive file=/dev/drbd/by-res/{{item.name}}/0,id=sda,if=none,aio=native,discard=on \
{% for disk in item.more_disks %}
  -device scsi-hd,drive={{"sd%c" | format(disk.drbd_volume+97) }} \
  -drive file=/dev/drbd/by-res/{{item.name}}/{{disk.drbd_volume}},id={{"sd%c" | format(disk.drbd_volume+97) }},if=none,aio=native,discard=on \
{% endfor %}
{# add another CDROM for windows virtio installation #}
  -drive index=0,media=cdrom 
# {{ ansible_managed }}
